<style>
    .top-nav {
        color: #ffffff;
        background-color: #00aaee;
    }

    .top-nav .menu .navigation .link {
        color: #ffffff;
        background-color: #00aaee;
    }    
</style>